:root {
  --width: max(1024px, 100vw);
  --height: max(720px, 100vh);
  --img-size: calc(var(--height) * 0.6);
}

body {
  width: var(--width);
  height: var(--height);
  background-color: black;
  /* font-family: 'Ubuntu Mono', monospace; */
  font-family: 'Oxanium', cursive;
  color: white;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.dimensions {
  margin: 10px;
}

#canvas {
  width: var(--width);
  height: var(--height);
  margin: 0;
  background-color: black;
}

#image {
  position: fixed;
  height: var(--img-size);
  width: var(--img-size);
  margin-left: calc((var(--width) - var(--img-size)) / 2);
  margin-top: calc((var(--height) - var(--img-size)) / 2);
  background-image: url(../img/planet.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  position: relative;
  height: var(--height);
  width: calc(var(--height) * 0.25);
  z-index: 1;
  background-color: rgb(25, 25, 58);
}

#left-sidebar {
  float: left;
}

#right-sidebar {
  float: right;
}