:root {
  --sidebar-width: calc(100vh * 1 / 4);
  --width-by-ratio: calc(100vh * 16 / 9);
  --offset: calc((100% - var(--width-by-ratio)) / 2);
}

body {
  height: 100vh; /* You must set a specified height */
  width: var(--width-by-ratio);
  min-height: 720px;
  min-width: calc(100vh * 4 / 3);
  background-color: rgb(255, 238, 0);
  margin: 0;
  overflow: hidden; /* hide scrollbars */
}

/* div stand-in for canvas */
#canvas {
  background-image: url("../img/earth.jpg");
  background-position: 50% 50%;
  position: absolute;
  left: var(--offset);
  opacity: 1.0;
  height: 100%;
  width: var(--width-by-ratio);
  background-color: crimson;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: var(--sidebar-width);
  z-index: 1;
  background-color: blue;
}

#left-sidebar {
  left: var(--offset);
  top: 0;
}

#right-sidebar {
  left: calc(var(--width-by-ratio) - var(--sidebar-width) + var(--offset));
  top: 0;
}